name: CI

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.gif'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.gif'
      
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - 25.1
          - 25.2
          - 25.3
          - 26.3
          - 27.2
          - snapshot

    steps:
    - name: Setup GNU Emacs
      uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - name: Install Eldev
      run: curl -fsSL https://raw.github.com/doublep/eldev/master/webinstall/github-eldev | sh

    - name: Checkout
      uses: actions/checkout@v2

    - name: Test
      run: |
        eldev -p -dtT compile
        eldev -p -dtT test
